
tabel, th, td{
    border: 2px solid #dee2e6;
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    width: 100%;
    display: flex;

}
.sidebar{
    flex: 1;
}

.sidebar__Menu{
    list-style: none;
    font-weight: 600;
    font-size: 17px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 2;
    background-color: rgb(245,245,245);
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
    padding-right: 10px;
    padding-left: 20px; 
}

.content{
    flex: 5
}

.content__User{

}

.content__User-title{
    margin-left: 50px;
    padding-left: 25px;
}

.table__User{
    display: table;
    width: 100%;
    line-height: 1.4;
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #dee2e6;
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
    text-decoration-line: none;
    
}

.bx{
    font-size: 20px;

}

.form-group{
    width: 98%;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 10px;
}

.form-control{
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
}

.btn-edit{
    font-size: 16px;
    margin: 10px;
}